%aside#orga-list
  - if @event.region.present? && @event.region.orgas.present?
    %h2
      = link_to orgas_path region: @event.region do
        %em.fa.fa-users
        = t '.orga-list'
    %ul.fa-ul
      - @event.region.orgas.select(&:active).each do |orga|
        %li
          = link_to orga do
            - if orga.kind
              %em.fa.fa-li{ class: "fa-#{orga.kind.icon}",
                title: Kind.human_attribute_name("name_#{orga.kind.name}") }
            = orga.name
            = image_tag orga.url + '/favicon.ico', alt: '', class: :favicon

  %h2
    %em.fa.fa-wrench
    = t '.actions'
  %ul.fa-ul
    %li
      = link_to event_path @event, protocol: :webcal, format: :ics do
        %em.fa.fa-li.fa-calendar
        = t '.add_to_calendar'
    %li
      = link_to preview_events_path(event: { title: @event.title,
        start_time: @event.start_time + 1.month,
        end_time: @event.end_time + 1.month,
        description: @event.description,
        place_name: @event.place_name,
        address: @event.address,
        city: @event.city,
        region_id: @event.region.id,
        locality: @event.locality,
        url: @event.url,
        tag_list: @event.tag_list.to_s }),
        method: :post do
        %em.fa.fa-li.fa-copy
        = t '.copy'
    - if user_signed_in?
      %li
        = link_to edit_moderation_path @event do
          %em.fa.fa-li.fa-edit
          = t '.edit'
      %li
        = link_to cancel_event_path @event, secret: @event.secret do
          %em.fa.fa-li.fa-thumbs-down
          = t '.cancel'
