%h2
  %em.fa.fa-trash-alt
  = t '.title'

- if @event.moderated?
  %h3.warning= t '.already_moderated'

%fieldset
  = form_for @event, method: :delete do |f|
    = hidden_field_tag :secret, params[:secret]
    %h2= t '.confirm'

    .field.reason
      = f.label :reason
      = f.text_area :reason, cols: 40, rows: 5

    .actions
      = link_to @event do
        %em.fa.fa-arrow-left
        = t '.ko'
      = f.button do
        %em.fa.fa-check
        = t '.ok'

%fieldset
  %legend= Event.model_name.human
  = render file: '/events/show'
