- if action_name == 'index' && controller_name != 'tags'
  .digest
    - if params[:tag].present?
      %span.tag
        %em.fa.fa-tag
        = params[:tag]
        %a(href="?tag=")
          %em.fa.fa-times

    - if params[:near].present?
      %span.near
        %em.fa.fa-map-pin
        = params[:near][:location]
        %em.fa.fa-arrows-alt-h
        = params[:near][:distance]
        km
        %a(href="?near=")
          %em.fa.fa-times
