%h2= t '.title'

%fieldset
  = form_for resource, as: resource_name,
             url: session_path(resource_name) do |f|
    .field.login
      = f.label :login
      %br/
      = f.text_field :login, autofocus: true
    .field.password
      = f.label :password
      %br/
      = f.password_field :password, autocomplete: 'off'
    - if devise_mapping.rememberable?
      .field
        = f.check_box :remember_me
        = f.label :remember_me
    .actions= f.submit t('.sign_in')

= render 'devise/shared/links'
