body.agendadescommuns
  font-family: georgia, serif
  header.top
    padding-left: 120px
    padding-right: 120px
    background-image: url(agendadescommuns.png)
    background-repeat: no-repeat
    background-position: 20px top
    img.logo
      display: none

  ul.countries, form#orga_search, a#banner
    display: none

  .city
    text-transform: uppercase

  &.events.index table tr
    .day_number
      color: #727070
    td.current-month.past, td.current-month.past .day_number
      color: #FFFAEB
      background-color: #7494B5
    td.current-month.today
      border-color: #FFFAEB
      background-color: #DBEDFF
    td.current-month.future,
      color: #444
      border-color: #EAE4D3
      background-color: #F0E8D1
