#map
  height: 60em
  box-shadow: 0 0 1em SteelBlue
  transition: none
  *
    /* Popup are better displayed with this: */
    max-width: initial

  &.event, &.orga
    height: 20em

  li
    position: relative
    .awesome-marker
      display: inline-block !important
      position: relative

.tags #map
  width: 40%
  height: 60em
  margin: 1.6em 2%
  display: inline-block

// Left align the map controls place in the top right corner
form.leaflet-control-layers-list label
  text-align: left
  .awesome-marker
    height: auto !important
    display: inline-block !important
    position: relative !important

html.iframe #map
  width: 100%
  max-width: 100%
  box-shadow: none
